@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

p {
  font-size: 1rem; }

body {
  font-family: 'Segoe UI', sans-serif;
  background: #FFFFFF; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", sarif; }

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/header.png);
  width: 100%;
  height: calc(100vh - 120px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative; }
  .hero__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 70%; }
    .hero__text h1 {
      color: white;
      font-size: 3.5rem;
      margin-bottom: 1rem;
      font-weight: 400; }
      @media (max-width: 1260px) {
        .hero__text h1 {
          font-size: 2.5rem; } }
      @media (max-width: 1052px) {
        .hero__text h1 {
          font-size: 2rem; } }
      @media (max-width: 844px) {
        .hero__text h1 {
          font-size: 1.75rem; } }
      @media (max-width: 741px) {
        .hero__text h1 {
          font-size: 1.25rem; } }
      @media (max-width: 534px) {
        .hero__text h1 {
          font-size: 1rem; } }
    .hero__text span {
      color: orange;
      display: inline-block; }
    .hero__text p {
      color: white;
      margin-bottom: 1.5rem;
      font-size: 25px;
      font-weight: 500; }
      @media (max-width: 1260px) {
        .hero__text p {
          font-size: 1.25rem; } }
      @media (max-width: 1052px) {
        .hero__text p {
          font-size: 16px; } }
      @media (max-width: 844px) {
        .hero__text p {
          font-size: 12px; } }
      @media (max-width: 741px) {
        .hero__text p {
          font-size: 11px; } }
    .hero__text .btn-order {
      display: inline-block;
      text-decoration: none;
      background: orange;
      color: white;
      margin-left: 15px;
      padding: 12px 28px;
      border-radius: 15px; }
      .hero__text .btn-order:hover {
        background: #F0750F; }

.blog__container {
  padding: 2.5rem; }

.blog__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1.5rem; }
  .blog__title img {
    height: 10px; }

.blog__content {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 992px) {
    .blog__content {
      flex-direction: column;
      align-items: center; } }

.blog .card {
  width: 30%;
  background: #EFECE3; }
  @media (max-width: 992px) {
    .blog .card {
      width: 100%;
      margin-bottom: 1rem;
      max-width: 400px; } }
  .blog .card h6 {
    color: orange;
    margin-bottom: 1rem; }
  .blog .card h5 {
    margin-bottom: 1rem; }

.card {
  width: 18rem;
  background: #fff;
  border-radius: 22px; }
  .card__header img {
    width: 100%;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px; }
  .card__body {
    padding: 1.5rem; }

.container, .blog__container, header .nav, .footer__container, .about .about-card, .service__content, .catagory__section, .testimonial__content, .product__container {
  width: 80%;
  margin: auto;
  max-width: 1140px; }

header {
  position: fixed;
  width: 100%;
  z-index: 10;
  background: white;
  top: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }
  header .alert {
    background: #662D90;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; }
    @media (max-width: 992px) {
      header .alert {
        width: 100%; } }
  header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px; }
    header .nav__logo {
      flex-grow: 1;
      padding: 1rem 0; }
      header .nav__logo img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px; }
    header .nav__links {
      margin-left: 70px;
      flex-grow: 2;
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center; }
      header .nav__links a {
        padding: 10px;
        text-decoration: none;
        color: black;
        font-weight: bold;
        transition: 0.5s; }
        header .nav__links a:hover {
          color: orange; }
    header .nav__cart {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1; }
      header .nav__cart i, header .nav__cart a {
        padding: 0 4px; }
      header .nav__cart p {
        background: orange;
        height: 18px;
        width: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 9px; }
      header .nav__cart a {
        display: inline-block;
        text-decoration: none;
        background: orange;
        color: white;
        margin-left: 15px;
        border-radius: 50px;
        padding: 0.5rem 1.5rem; }
    header .nav .menu-bar {
      font-size: 1.5rem;
      padding: 1rem; }
    header .nav #check {
      display: none;
      width: 1rem;
      height: 1rem;
      top: 1rem;
      right: 1rem; }

.footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/footer.png);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 1rem; }
  .footer__content {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 3.1rem; }
    @media (max-width: 992px) {
      .footer__content {
        flex-direction: column;
        align-items: center; } }
    .footer__content .col__1 {
      color: white;
      flex-grow: 1; }
      .footer__content .col__1__title {
        display: flex; }
        @media (max-width: 992px) {
          .footer__content .col__1__title {
            display: flex;
            align-items: center; } }
        .footer__content .col__1__title h4 {
          color: orange;
          margin-bottom: 1.5rem; }
      .footer__content .col__1__logo img {
        width: 90px;
        margin-left: 0.5rem; }
      .footer__content .col__1__content p:not(:first-child) {
        margin: 1.5rem 0; }
    .footer__content .col__2 {
      color: white;
      flex-grow: 1; }
      .footer__content .col__2 h4 {
        color: orange;
        margin-bottom: 1.5rem; }
      .footer__content .col__2 ul {
        list-style: none;
        padding: 0; }
        .footer__content .col__2 ul li {
          font-size: 18px; }
          .footer__content .col__2 ul li span {
            color: orange; }
    .footer__content .col__3 {
      color: white;
      flex-grow: 1; }
      .footer__content .col__3 h4 {
        color: orange;
        margin-bottom: 2.5rem; }
      .footer__content .col__3 .insta__page {
        display: flex; }
        .footer__content .col__3 .insta__page__image {
          flex-grow: 1;
          margin: 0.5rem;
          width: 40px;
          position: relative;
          overflow: hidden; }
          .footer__content .col__3 .insta__page__image:hover .caption {
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.5);
            transform: translateY(0); }
          .footer__content .col__3 .insta__page__image:hover img {
            transform: scale(1.3); }
        .footer__content .col__3 .insta__page img {
          width: 100%;
          transition: all 0.5s; }
        .footer__content .col__3 .insta__page .caption {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 2rem;
          opacity: 0;
          transform: translateY(100%);
          transition: all 0.5s; }
  .footer__end {
    display: flex; }
    @media (max-width: 992px) {
      .footer__end {
        flex-direction: column;
        align-items: center; } }
    .footer__end .all__right {
      flex-grow: 3; }
      .footer__end .all__right p {
        color: white;
        margin-top: 1.5rem; }
    .footer__end .atm__card {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end; }
      @media (max-width: 992px) {
        .footer__end .atm__card {
          flex-direction: column;
          justify-content: flex-start;
          align-items: center; } }
      .footer__end .atm__card__image {
        margin-top: 0.5rem;
        width: 60px; }
        .footer__end .atm__card__image:not(:last-child) {
          margin-right: 0.5rem; }
        .footer__end .atm__card__image img {
          width: 100%; }

.about {
  background: #EFECE3;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem; }
  .about .about-card {
    background: #FFFFFF;
    border-radius: 50px;
    padding-top: 2.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem; }
    .about .about-card__title {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
    .about .about-card__body {
      display: flex;
      padding-top: 0.5rem;
      padding-bottom: 2.5rem; }
      @media (max-width: 846px) {
        .about .about-card__body {
          flex-direction: column; } }
    .about .about-card__content {
      padding: 1rem;
      text-align: center; }
      .about .about-card__content img {
        height: 120px; }

.service {
  background-image: url(/images/section-3.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 992px) {
    .service {
      align-items: center; } }
  .service__content {
    display: flex; }
    @media (max-width: 992px) {
      .service__content {
        flex-direction: column;
        align-items: center; } }
  .service__card {
    display: flex;
    width: 33%;
    position: relative;
    margin-top: 40px; }
    .service__card img {
      width: 100%; }
      @media (max-width: 992px) {
        .service__card img {
          width: 150%; } }
  .service__text {
    max-width: 90%;
    position: absolute;
    top: 30%;
    left: 35%;
    text-align: center; }
    @media (max-width: 992px) {
      .service__text {
        top: 25%;
        left: 53%; } }
    .service__text h3, .service__text p {
      color: white; }
    .service__text h3 {
      font-size: 1.75rem;
      font-weight: 800; }
      @media (max-width: 992px) {
        .service__text h3 {
          font-size: 1.75rem; } }
    .service__text p {
      font-size: 25px; }
      @media (max-width: 992px) {
        .service__text p {
          font-size: 15px; } }

.catagory {
  background-image: url(/images/section-4.png);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }
  .catagory__section {
    flex-wrap: wrap;
    display: flex; }
    @media (max-width: 576px) {
      .catagory__section {
        align-items: center; } }
  .catagory__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    height: 200px;
    width: 24%;
    background: #A258D8;
    color: white;
    font-size: 30px; }
    @media (max-width: 576px) {
      .catagory__item {
        width: 47%;
        height: 100px; } }

.testimonial {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/testinomial.png);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative; }
  .testimonial__card {
    background: #EFECE3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    border-radius: 50px;
    padding: 50px;
    text-align: justify; }
    @media (max-width: 992px) {
      .testimonial__card {
        width: 65%; } }
    @media (max-width: 768px) {
      .testimonial__card {
        width: 85%; } }
    @media (max-width: 575px) {
      .testimonial__card {
        width: 95%; } }
  .testimonial__image {
    width: 70px; }
    .testimonial__image img {
      width: 100%;
      border-radius: 50%; }
      .testimonial__image img:not(:last-child) {
        margin-bottom: 0.5rem; }
  .testimonial__text {
    width: 80%;
    margin-left: 2.5rem;
    max-width: 90%;
    display: flex;
    flex-direction: column; }
    .testimonial__text h5 {
      color: orange;
      margin-bottom: 0.5rem; }
      @media (max-width: 1090px) {
        .testimonial__text h5 {
          font-size: 1rem; } }
      @media (max-width: 992px) {
        .testimonial__text h5 {
          font-size: 1rem; } }
  .testimonial__quote {
    flex-grow: 1; }
  .testimonial .user {
    display: flex;
    margin-top: 2.5rem; }
    .testimonial .user__image {
      width: 50px; }
    .testimonial .user img {
      width: 100%;
      border-radius: 50%; }
    .testimonial .user__text {
      margin-left: 0.5rem; }

.banner {
  background-image: url(/images/banner.png);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.product {
  background: #F2F2F2;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem; }
  .product__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .product .card {
    width: 23%;
    margin-top: 2.5rem; }
    .product .card__body .btn {
      display: block;
      text-decoration: none;
      padding: 15px;
      text-align: center;
      margin-top: 1rem;
      border-radius: 10px; }
    .product .card__body .btn-order {
      background: orange;
      color: white; }
      .product .card__body .btn-order:hover {
        background: #F0750F; }
    .product .card__body .btn-customize {
      background: #662D90;
      color: white; }
      .product .card__body .btn-customize:hover {
        background: #42134b; }

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  background: #FFFFFF;
  border-bottom: 1px solid; }
  .top_food {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%; }
    .top_food img {
      width: 4rem;
      height: 4rem;
      border-radius: 15px; }
    .top_food h3 {
      margin-left: 2.5rem; }
      @media (max-width: 1208px) {
        .top_food h3 {
          font-size: .5rem; } }
  .top__order {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%; }
    .top__order .text {
      display: flex; }
      .top__order .text .price {
        margin-right: 0.5rem; }
    .top__order .quantity {
      margin-right: 3rem;
      margin-left: 2rem; }
      .top__order .quantity #number {
        color: black; }
    .top__order .button {
      display: inline-block;
      text-decoration: none;
      background: orange;
      color: white;
      margin-left: 15px;
      padding: 12px 50px;
      border-radius: 15px; }
      .top__order .button a {
        text-decoration: none;
        color: white; }
  .top i {
    width: 20%; }

.upgrades {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; }
  .upgrades__customize {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .upgrades__customize img {
      width: 4%; }
    .upgrades__customize h2 {
      font-weight: 400; }
  .upgrades h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    margin-top: 2.5rem; }
  .upgrades__cards {
    display: flex;
    justify-content: space-between;
    padding: 20px; }
    .upgrades__cards .cards {
      background: #FFFFFF;
      width: 23%;
      display: flex;
      flex-direction: column;
      border-radius: 22px;
      padding: 20px; }
      @media (max-width: 992px) {
        .upgrades__cards .cards {
          width: 50%; } }
      .upgrades__cards .cards .cimage {
        width: 80%;
        margin: auto; }
        .upgrades__cards .cards .cimage img {
          width: 100%; }
      .upgrades__cards .cards .cfooter {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .upgrades__cards .cards .cfooter p {
          font-weight: 400;
          width: 50%; }
        .upgrades__cards .cards .cfooter small {
          font-weight: 400;
          margin-top: 0.5rem;
          font-size: 0.7rem; }

.included {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; }
  .included h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400; }
  .included__allbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 2.5rem;
    padding: 1.5rem; }
    .included__allbox .box {
      width: 47%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: white;
      box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.16);
      margin-bottom: 25px; }
      .included__allbox .box .image {
        width: 80px; }
        .included__allbox .box .image img {
          width: 100%; }
      .included__allbox .box .rightside {
        display: flex;
        justify-content: space-between;
        width: 50%; }
  .included .allcard {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 1.5rem; }
    .included .allcard .cards {
      background: #FFFFFF;
      width: 16%;
      display: flex;
      flex-direction: column;
      border-radius: 22px;
      padding: 1.5rem;
      margin-right: 40px;
      margin-bottom: 20px; }
      .included .allcard .cards .cimage {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center; }
        .included .allcard .cards .cimage img {
          width: 100%; }
      .included .allcard .cards .cfooter {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .included .allcard .cards .cfooter h6 {
          font-weight: 400;
          font-size: 1.5rem; }
        .included .allcard .cards .cfooter small {
          font-weight: lighter;
          margin-top: 0.5rem;
          font-size: 0.7rem; }

.sauses {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; }
  .sauses h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400; }
  .sauses__cards {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 1.5rem; }
    .sauses__cards .card {
      background: #FFFFFF;
      width: 16%;
      display: flex;
      flex-direction: column;
      border-radius: 22px;
      padding: 1.5rem;
      margin-right: 30px;
      margin-bottom: 20px; }
      .sauses__cards .card .cimage {
        width: 90%;
        margin: auto; }
        .sauses__cards .card .cimage img {
          width: 100%; }
      .sauses__cards .card .cfooter {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .sauses__cards .card .cfooter h6 {
          font-weight: 400; }
        .sauses__cards .card .cfooter small {
          font-weight: lighter;
          font-size: 0.7rem;
          margin-top: 0.5rem; }

.style {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; }
  .style h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400; }
  .style__cards {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 1.5rem; }
    .style__cards .card {
      background: #FFFFFF;
      width: 16%;
      display: flex;
      flex-direction: column;
      border-radius: 22px;
      padding: 1.5rem 1.5rem 1.5rem 1rem;
      margin-right: 30px;
      margin-bottom: 10px; }
      .style__cards .card .cimage {
        width: 140px;
        margin: auto; }
        .style__cards .card .cimage img {
          width: 100%; }
      .style__cards .card .cfooter h6 {
        font-weight: 400; }
      .style__cards .card .cfooter small {
        font-weight: lighter; }
