.about {
    background: #EFECE3;
    padding-top: $padding-big;
    padding-bottom: $padding-big;

   .about-card {
       @extend .container;
       background: #FFFFFF;
       border-radius: 50px;
       padding-top: $padding-extra-large;
       padding-left: $padding-extra-large;
       padding-right: $padding-extra-large;
    
       &__title {
           @include center;
           flex-direction: column;
       }
       &__body {
           display: flex;  
           padding-top: $padding-small;
           padding-bottom: $padding-extra-large;
           @media(max-width: 846px) {
            flex-direction: column;
        }
       }
       &__content {
           padding: $padding-medium;
           text-align: center;
           img {
               height: 120px;
           }
       }
   }

}

.service {
    background-image: url(/images/section-3.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include center;
    @media(max-width: 846px) {
        
        padding-left: 200px;
    }

    &__content {
        @extend .container;
     display: flex;
     @media(max-width: 846px) {
        flex-direction: column;
    }
    }

    &__card {
        display: flex;
        width: 33%;
        position: relative;
        margin-top: 40px;
        img {
            width: 100%;
            @media(max-width: 846px) {
                width: 150%;
            }
        }
    }

    &__text {
        max-width: 90%;
        position: absolute;
        top: 30%;
        left: 35%;
        text-align: center;
        @media(max-width: 846px) {
            top: 25%;
            left: 53%;
        }
        
        h3, p {
            color: $text-white;
        }

        h3 {
            font-size: $h3-font-size;
            font-weight: 800;
            @media(max-width: 846px) {
                font-size: $h3-font-size;
            }
        }
        p {
            font-size: 25px;
            @media(max-width: 846px) {
                font-size: 15px;
            }
        }
    }
}


.catagory {
    background-image: url(/images/section-4.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include center;
    

    &__section {
        @extend .container;
        flex-wrap: wrap;
        display: flex;
        @media(max-width: 846px) {
            padding-left: 200px;
        }
    }

    &__item {
        @include center;
        margin: 2px;
        height: 200px;
        width: 24%;
        background: #A258D8;
        color: white;
        font-size: 30px;
        @media(max-width: 846px) {
            width: 33%;
            height: 100px;
        }
        @media(max-width: 638px) {
            width: 100%;
            height: 50px;
        }
    }
}


.testimonial {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/images/testinomial.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    @media(max-width: 846px) {
        height: 120vh;
    }
    @media(max-width: 679px) {
        height: 150vh;
    }
    &__content {
        @extend .container;
    }

    &__card {
        background: $background-secondary;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        display: flex;
        border-radius: 50px;
        padding: 50px;
        text-align: justify;
    }

    &__image {
        width: 70px;
        img {
            width: 100%;
            border-radius: 50%;
            &:not(:last-child) {
                margin-bottom: $margin-small;
            }
        }
    }

    &__text {
        width: 80%;
        margin-left: $margin-extra-large;
        max-width: 90%;
        display: flex;
        flex-direction: column;
     
        
        h5 {
            color: $background-primary;
            margin-bottom: $margin-small;
        }
        p {
            // font-size: 18px;
            
        }
    }

    &__quote {
        flex-grow: 1;
    }

    .user {
        display: flex;
        margin-top: $margin-extra-large;
        &__image {
            width: 50px;
        }
        
        img {
            width: 100%;
            border-radius: 50%;
        }

        &__text {
            margin-left: $margin-small;
        }
    }

}


.banner {
    background-image: url(/images/banner.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}