.product {
    background: #F2F2F2;
    padding-top: $display4-size;
    padding-bottom: $display4-size;
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @extend .container;
    }
    .card {
        width: 23%;
        margin-top: $margin-extra-large;
        &__body {
            .btn {
                display: block;
                text-decoration: none;
                padding: 15px;
                text-align: center;
                margin-top: $margin-medium;
                border-radius: $border-radius-small;
                
            }
            .btn-order {
                background: $background-primary;
                color: $text-white;
                &:hover {
                    background: $background-primary-dark;
                }
            }
            .btn-customize {
                background: $background-purple;
                color: $text-white;
                &:hover {
                    background: $background-purple-dark;
                }
            }
        }
    }
}