.container {
    width: 80%;
    margin: auto;
    max-width: 1140px;
}
header {
    position: fixed;
    width: 100%;
    z-index: 100;
    background: $background-light;
    top: 0;
    box-shadow: $box-shadow;
    
    .alert {
        background: $background-purple;
        height: 40px;
        @include center;
        color: $background-light;
        @media(max-width: 992px) {
            width: 100%;
        }
    }

    .nav {
        @extend .container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        position: relative;
        
        
        &__logo {
            flex-grow: 1;
            padding: $padding-medium 0;
            img {
                @include center;
                height: 40px;
            }
        }
        
        &__links {
            margin-left: 70px;
            flex-grow: 2;
            list-style: none;
            @include center;
            @media (max-width:992px){
                display: none;
            }
            
            a {
                padding: 10px;
                text-decoration: none;
                color: $text-dark;
                font-weight: bold;
                transition: 0.5s;
                &:hover {
                    color: $background-primary;
                }
            }
        }

        &__cart {
            @include center;
            i,a {
                padding: 0 4px;
            }
            p {
                background: $background-primary;
                height: 18px;
                width: 18px;
                @include center;
                border-radius: $border-radius-extra-large;
                font-size: 9px;
            }

            a {
                @include button;
                border-radius: 50px;
                padding: $padding-small $padding-large;
            }
            
        }
        .menu-bar {
            font-size: 1.5rem;
            padding: 1rem;
            display: none;    
            
            @media (max-width:992px){
                display: block;
            }
            
        }

        #check {
            visibility: hidden;
        }

        .sidebar{
            transform: translateX(100%);
            background: $background-light;
            width: 250px;
            height: 100%;
            position: fixed;
            top: 120px;
            right: 0;
            box-shadow: $box-shadow-lg;
            transition: transform 0.5s;
            &__links {
                list-style: none;
                margin-bottom: $margin-medium;
                @include center;
                padding: $padding-extra-large-1 0;
                li {
                    display: flex;
                    flex-direction: column;
                }
                a {
                    text-decoration: none;
                    color: $text-dark;
                    font-weight: $font-weight-bold;
                    transition: 0.5s;
                    &:not(:last-child) {
                        margin-bottom: $margin-medium;
                    }
                    &:hover {
                        color: $background-primary;
                    }
                }
            }
        }

        #check:checked ~ .sidebar{
            transform: translateX(0);
        }
    }
}