.blog {

    &__container{
        @extend .container;
        padding: $padding-extra-large;
    }

    &__title {
        @include center;
        flex-direction: column;
    }
    &__content {
        display: flex;
        justify-content: space-between;
    }

    .card{
        width: 30%;
        background: $background-secondary;

        h5{
            color: $secondary;
            margin-bottom: $margin-medium;
        }

        h4{
            margin-bottom: $margin-medium;
        }
    }
}