.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
    url(/images/header.png);
    width: 100%;
    height: calc(100vh - 120px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    &__text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            width: 70%;
            h1 {
                color: $text-white;
                font-size: $display4-size;
                margin-bottom: 1rem;
                font-weight: 400;
                @media(max-width: 1260px) {
                    font-size: $h1-font-size;
                }
                @media(max-width: 1052px) {
                    font-size: $h2-font-size;
                }
                @media(max-width: 844px) {
                    font-size: $h3-font-size;
                }
                @media(max-width: 741px) {
                    font-size: $h5-font-size;
                }
                @media(max-width: 534px) {
                    font-size: $h6-font-size;
                }
            }

            span {
                color: $background-primary;
                display: inline-block;
            }
            p {
                color: white;
                margin-bottom: 1.5rem;
                font-size: 25px;
                font-weight: 500;
                @media(max-width: 1260px) {
                    font-size: $h5-font-size;
                }
                @media(max-width: 1052px) {
                    font-size: 16px;
                }
                @media(max-width: 844px) {
                    font-size: 12px;
                }
                @media(max-width: 741px) {
                    font-size: 11px;
                }
            }

            .btn-order {
                @include button;
                padding: 12px 28px;
                border-radius: 15px;
                &:hover {
                    background: $background-primary-dark;
                }
            }
    }
}